@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap");

:root {
  --pink: #ff046f;
  --violet: #c63bfa;
}

* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--pink);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

header {
  width: 96%;
  background: #fff;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.header-active {
  top: 0;
  width: 100%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

header .navbar ul li {
  margin: 0 1rem;
}

header .navbar ul li a {
  font-size: 2rem;
  color: var(--pink);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: var(--violet);
}

header .logo {
  font-size: 2.5rem;
  color: var(--violet);
  text-transform: uppercase;
}

header .logo i {
  color: var(--pink);
  padding: 0.3rem;
}

header .fa-bars {
  font-size: 2.5rem;
  color: var(--pink);
  cursor: pointer;
  display: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

header .fa-times {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  color: var(--violet);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

/*Media Queris*/
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  header .fa-bars {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: -100rem;
    left: 0;
    opacity: 0;
    background: #fff;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 100%;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
  }

  header .navbar ul {
    flex-flow: column;
    padding: 2rem 0;
  }

  header .navbar ul li {
    margin: 1rem 0;
    text-align: center;
    width: 100%;
  }

  header .navbar ul li a {
    font-size: 2.5rem;
    display: block;
  }

  header .nav-toggle {
    top: 5.5rem;
    opacity: 1;
  }
}
